.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
}
.rectangle-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  background-color: rgb(142, 130, 196);
}
.rectangle-card img {
  width: 250px;
  height: 300px;
}
