.card {
  padding: 10px;
  font-family: Poppins;
}

.contact {
  display: flex;
}
.contact h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 10px 0 0;
}

.contact span {
  font-size: 18px;
  font-weight: 300;
}

.contact img {
  border-radius: 50%;
  height: 80px;
  margin: 15px;
}
