nav {
  height: 80px;
  width: 100vw;
  background-color: #f8f5ec;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 36px;
  color: #686569;
}

.link:hover {
  color: #005e64;
}
