nav {
  height: 80px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 36px;
  color: #4e4e4e;
}

.link:hover {
  color: #202020;
}
