nav {
  width: 100vw;
  padding: 10px 0;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 15px;
}
