nav {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 30px;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 15px;
}
