.page-cover {
  background-color: rgb(212, 194, 170);
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.51);
  background-image: url("../../assets/leather.jpg");
}

.title {
  font-size: 100px;
  background-color: rgb(212, 194, 170);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(212, 194, 170, 0.473) 3px 5px 1px;
}
