.demoPage {
  position: relative;
}

.page-number {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.page-text {
  padding: 45px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
}
img {
  max-width: 80%;
}
