.demoPage {
  position: relative;
  cursor: pointer;
}

.page-number {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.page-text {
  padding: 10px 25px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  white-space: pre-line;
}

.page-text::first-letter {
  font-size: 200%;
}
.page-img {
  max-height: 250px;
}

.page-link {
  color: #e07c3e;
  font-family: Poppins;
  font-size: 18px;
}
.blob {
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  opacity: 0.8;
  position: absolute;
  top: 1%;
  left: 80%;
  transform: translateX(-50%) translateY(-40%);
  z-index: 3;
  cursor: pointer;
}
.blob.white {
  background: rgba(255, 255, 255, 0.884);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.65);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.65);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.no-blob {
  display: none;
}
